<html>
  <head>
    <title>FICS Web Client</title>

    <script src="//cdn.sockjs.org/sockjs-0.3.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

    <%- css("application.css") %>
    <%- js("application.js") %>
  </head>
  <body ng-app="ficsClient">
    <tabset>
      <%- include login.ejs %>
      <%- include play.ejs %>
      <%- include chat.ejs %>
      <%- include observe.ejs %>
      <%- include console.ejs %>
    </tabset>
  </body>
</html>
