<html>
  <head>
    <script src="//cdn.sockjs.org/sockjs-0.3.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

    <script src="/scripts/angular.js"></script>
    <script src="/scripts/angular-ui-bootstrap_tabs.js"></script>

    <script src="/scripts/d3.js"></script>
    <script src="/scripts/nv.d3.js"></script>

    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/nv.d3.css" rel="stylesheet" />

    <%- js("application.js") %>
  </head>
  <body ng-app="ficsClient">
    <tabset>
      <%- include login.ejs %>
      <%- include play.ejs %>
      <%- include chat.ejs %>
      <%- include observe.ejs %>
      <%- include console.ejs %>
    </tabset>
  </body>
</html>
