<html>
  <head>
    <title>FICS Web Client</title>

    <%- css("application.css") %>
    <%- js("application.js") %>

    <script type="text/javascript">
      ficsClient.constant("Constants", <%- JSON.stringify(ficsConstants) %>);
    </script>
  </head>
  <body ng-app="ficsClient">
    <div class="header">
      <h2>FICS Web Client</h2>
    </div>

    <div class="content">
      <tabset class="tab-container">
        <%- include login.ejs %>
        <%- include chat.ejs %>
        <%- include observe.ejs %>
      </tabset>
    </div>
  </body>
</html>
