<html>
  <head>
    <title>FICS Web Client</title>

    <%- css("application.css") %>
    <%- js("application.js") %>
  </head>
  <body ng-app="ficsClient">
    <div class="header">
      <h2>FICS Web Client</h2>
    </div>

    <div class="content">
      <tabset class="tab-container">
        <%- include login.ejs %>
        <%- include chat.ejs %>
        <%- include play.ejs %>
        <%- include observe.ejs %>
        <%- include console.ejs %>
      </tabset>
    </div>
  </body>
</html>
