<html>
  <head>
    <title>FICS Web Client</title>

    <link rel="stylesheet" type="text/css" href="/assets/application.css">
    <script type="text/javascript" src="/assets/application.js"></script>

    <script type="text/javascript">
      ficsClient.constant("Constants", <%- JSON.stringify(ficsConstants) %>);
    </script>
  </head>
  <body ng-app="ficsClient">
    <div class="header">
      <h2>FICS Web Client <sub>β</sub></h2>
    </div>

    <div class="content">
      <tabset class="tab-container">
        <%- include login.ejs %>
        <%- include chat.ejs %>
        <%- include observe.ejs %>
        <%- include about.ejs %>
      </tabset>
    </div>
  </body>
</html>
